* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 30px;
}


li a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    height: 70px;
    background-color: rgb(241, 238, 238);
}

.logo {
    width: 60px;
    height: 70px;
    padding: 0px 0px 0px 40px;
}

.main-content {
    margin-top: 40px;
    margin-left: 180px;

}

.intro .title {
    font-size: 100px;
    font-weight: bold;
}

.main .secondary {
    color: #0087CD;
}

.intro-para {
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.intro-para #text-blue {
    color: #0087CD;
    font-weight: 500;
    font-size: 24px;
}

.intro-para #about {
    /* text-decoration: none; */
    color: #0087CD;
    font-size: 21px;
}

.intro {
    height: 90vh;
}

.main-content .social {
    margin-top: 7px;
    margin-left: 5px;

}

.main-content .social img {
    width: 26px;
}

.project .title {
    color: #0087CD;
    font-weight: 500;
    font-size: 42px;
    text-align: center;
}

.project-grid {
    display: grid;

}

.project-item {
    text-align: center;
    padding: 10px;
    height: 600px;
    width: 900px;
    align-items: center;
    margin: 2% auto;
    border-radius: 7px;
    box-shadow: 10px;
}

.project-item img {
    width: 90%;
    height: 90%;
    padding: 2px;
    border-radius: 5px;
}

.project-item h3 {
    margin: 5px auto;
    font-size: 25px;
}

.project-item a {
    display: inline-block;
    padding: 10px 20px;
    margin: 2% auto;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.project-item a:hover {
    background-color: #666;
}